// -----------------------------------------------------------------------------
// This file contains styles that are specific to the auth page.
// -----------------------------------------------------------------------------
.auth {
  height: 100%;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  display: flex;
  flex-direction: column;
  background: $brand-color;
  background: linear-gradient(
    -135deg,
    $secondary-brand-color 0%,
    $brand-color 100%
  );
  padding: 0 1rem;

  .auth-wrapper {
    position: relative;
    top: calc(50% - 5rem);

    h1 {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
        height: 5rem;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
