.offers-cards {
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: calc(100% - 2rem);

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    cursor: grab;
    background-color: #fff;
    position: absolute;
    user-select: none;
    width: 100%;
    &:nth-last-child(n + 3) {
      display: none;
    }

    &.swipe-left,
    &.swipe-right {
      transition: transform 0.8s ease, rotate 0.8s ease;
    }

    &.swipe-right {
      transform: translateX(150%) rotate(30deg);
    }

    &.swipe-left {
      transform: translateX(-150%) rotate(-30deg);
    }

    &.go-left {
      transform: translateX(-150%) rotate(-30deg) !important;
    }

    &.go-right {
      transform: translateX(150%) rotate(30deg) !important;
    }

    &.go-left,
    &.go-right {
      transition: transform 0.3s ease, rotate 0.3s ease;
    }

    &.reset {
      transition: transform 0.3s ease;
      transform: translateX(0) !important;
    }

    & .choice {
      border-radius: 8px;
      z-index: 9999;
      top: 32px;
      right: 16px;
      padding: 4px 8px;
      font-size: 24px;
      font-weight: bold;
      width: fit-content;
      position: absolute;
      opacity: 0;
      font-family: $secondary-font-stack;
      color: #fff;
      transition: opacity 0.3s ease;

      &.visible {
        opacity: 1;
      }

      &.dislike {
        background-color: #ff6e63;

        transform: rotate(30deg);
      }

      &.like {
        background-color: #63ff68;
        left: 16px;
        transform: rotate(-30deg);
      }
    }

    .offer {
      padding: 15px;
      overflow-y: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      /* Ocultar scrollbar en Chrome, Safari y Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .offer--company-summary {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1.6rem;
      figure {
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        margin: 0;
      }
      a {
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }

    h2 {
      font-size: 1.7rem;
      line-height: 1.8rem;
      margin-bottom: 0.8rem;
    }

    ul {
      margin-bottom: 1.6rem;
    }

    h4 {
      margin-bottom: 0.8rem;
      font-size: 1.3rem;
      line-height: 1.4rem;
    }

    .offer--description {
      p {
        margin-bottom: 0.6rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .offer--company-profile {
      border: 1px solid $light-grey;
      border-width: 1px 0 0;
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      figure {
        max-width: 125px;
        max-height: 125px;
        margin: 0 auto 1.6rem;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        text-align: center;
        margin-bottom: 0.8rem;
      }
      .offer--company-description {
        p {
          margin-bottom: 0.6rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    aside {
      position: sticky;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 0.8rem;
      gap: 4rem;
      button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: 0;
        background-color: #fff;
        box-shadow: $shadow-button;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-origin: content-box;
        padding: 10px;
        cursor: pointer;

        &.offer--btn-like {
          background-image: url("/images/icons/like.svg");
        }
        &.offer--btn-dislike {
          background-image: url("/images/icons/dislike.svg");
        }
        &.offer--btn-undo {
          position: absolute;
          left: 0;
          padding: 5px;
          width: 2.5rem;
          height: 2.5rem;
          background-image: url("/images/icons/undo.svg");
        }
      }
    }
  }
}
